body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

.purple-button {
    background-color: purple;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.purple-button:hover {
    background-color: #6a1b9a; /* Darker shade of purple on hover */
}
